<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">View employee  <b>{{job.jobTitle}}</b></h2>
    </div>

    <div class="panel-body">

            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" >

                        <label for="jobId">ID:</label>
                        <span id="jobId" class="form-control">{{job.jobId}}</span>


                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group">
                        <!--TODO#HR2-->
                        <div class="form-group" >
                            <label for="jobTitle">Titile:</label>
                            <span id="jobTitle" class="form-control">{{job.jobTitle}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" >

                        <label for="minSalary">Min Salary:</label>

                        <span class="form-control">{{job.minSalary}}</span>


                    </div>
                </div>
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" >

                        <label for="maxSalary">Max Salary:</label>

                        <span class="form-control" id="maxSalary">{{job.maxSalary}}</span


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">
                        <button class="btn btn-default" ng-click="back()">Back</button>

                    </div>
                </div>
            </div>
    </div>
</div>